:root {
    --accent-color: #404BBF;
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
 font-family: var(--primary-font);
 color: #2E2F42;
}

/*------ Components ------*/

.logo-first-part {
color: #4D5AE5;
font-family: var(--secondary-font)
font-size: 18px;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}
    
.logo-second-part {
font-family: var(--secondary-font)
font-size: 18px;
font-weight: 800;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.subtitle {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.second-title {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.72px;
text-transform: capitalize;
}

.third-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.4px;
}

/*------ !Components ------*/

/*------ Header ------*/
.menu-link {
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color)
}

.contact-mail {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--IRIS, #4D5AE5);
}

.contact-phone {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.contact-phone:hover,
.contact-phone:focus {
    color: var(--IRIS, #4D5AE5);
}

/*------ !Header ------*/

/*------ Hero ------*/
.modal-btn {
color: #FFF;
background-color: #4D5AE5;
cursor: pointer;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    color: #FFF
}

.main-title {
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 1.12px;
}

/*------ !Hero ------*/

/*------ Portfolio ------*/

.portfolio-btn {
color: #4D5AE5;
background-color: #F4F4FD;
cursor: pointer;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.64px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: #FFF
}

/*------ !Portfolio ------*/